<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="src/styleList.css" />
    <title>예약사이트</title>
  </head>
  <body>
    <header class="header">
      <span>{{ title }}</span>
    </header>
    <section class="list">
      <div class="list-rastaurants">
        <div
          class="list-rastaurants-rastaurant"
          v-for="rastaurant in rastaurants"
        >
          <img v-bind:src="rastaurant.img" alt="식당 이미지" />
          <span>{{ rastaurant.title }}</span>
          <span v-if="rastaurant.available">예약하기</span>
          <span v-else>예약불가</span>
        </div>
      </div>
    </section>
    <footer class="footer">
      &copy; {{ copy }}
    </footer>
    <script src="./src/layout.js"></script>
    <script src="./src/list.js"></script>
  </body>
</html>
